if title
  title OSBS - #{title}
else
  title OSBS
link(rel="stylesheet", type="text/css", href="/third_party/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", type="text/css", href="/css/site.css")
